<%= render 'shared/page_title', title: "Edit Recipe" %>
<p>
  <h1>Gojo-Recipe</h1>
  <hr/>
</p>
<% render %>









<!-- <h1>Gijo-Recipe</h1>
<%= render partial: 'form', locals: {recipebox: @recipebox} %>

<%= link_to "Delete", @recipebox, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} %>
<%= link_to "Ingredients",  recipebox_path(@recipebox)  %> -->
