<%= render 'shared/page_title', title: "All Recipes" %>
<% @recipeboxes.each do |recipebox| %>
<div class="row">

  <div class="col-md-2">
    <section class="user_info center">



    </section>
  </div>
  <div class="col-lg-6 well">
    <h4><%= link_to recipebox.title, recipebox_path(recipebox)  %></h4>
    <p>
      <span class='quiet'> <%= time_ago_in_words(recipebox.created_at) %> ago <small></span></p>
      </div>
      <div class="col-md-4">

      </div>
      <% end %>
      <hr>
    </table>
